<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" >


</head>
<body>
    
    <div class="container"><div class="jumbotron">Serving up html.</div></div>

    <!-- Latest compiled and minified JavaScript -->
<script src="/js/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>